/* Se agregaron comentarios para describir las reglas de estilo */

input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}

#lista-de-productos {
  display: flex; /* Se agregó el punto y coma (;) al final de la regla */
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto; /* Se agregó el punto y coma (;) al final de la regla */
}